<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <meta charset="UTF-8">

    <link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">

    <title>{% block title %} {% endblock %} </title>

  </head>

  <body>

    {% block body %} {% endblock %}


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{url_for('static', filename = 'js/bootstrap.min.js')}}" ></script>
  </body>

</html>