{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} Inicio {% endblock %}
 

{% block body %}

  <section class="container">

  <div class = "row">

    <div class = "col md-12">

      <div class = "jumbotron p-3">

        <h2>Gerenciar Empregados <button type="button"  class="btn btn-success float-right"
          data-toggle="modal" data-target="#mymodal">Adicionar novo Usuário</button> </h2>

         {% with messages = get_flashed_messages() %}

         {% if messages %}

          {% for message in messages %}

            <div class="alert alert-success alert-dismissable" role="alert">

              <button type="button" class="close" data-dismiss="alert" aria-label="close">
                <span aria-hidden="true">x</span>
              </button>

             {{message}}

            </div>


         {% endfor %}

         {% endif %}
        {% endwith %}


        <table class="table table-hover table-dark">

          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Endereco</th>
            <th>Telefone</th>
            <th>Data</th>
            <th>Status</th>
            <th>Action</th>
          </tr>

          {% for dado in dados %}

              <tr>
                <td>{{dado.id}}</td>
                <td>{{dado.nome}}</td>
                <td>{{dado.endereco}}</td>
                <td>{{dado.telefone}}</td>
                <td>{{dado.data}}</td>
                <td>{{dado.status}}</td>

                <td>
                  <a href="/update/{{dado.id}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{dado.id}}">Edit</a>
                  <a href="/delete/{{dado.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete ?')">Delete</a>
                </td>
             </tr>

          {% include 'components/editUserModal.html' %}

          {% endfor %}


        </table>

        {% include 'components/addUserModal.html' %}

      </div>

    </div>

  </div>

</section>

{% endblock %}