<div id="modaledit{{dado.id}}" class="modal fade" role="dialog">

  <div class="modal-dialog">

    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Atualizar informações</h4>
      </div>


      <div class="modal-body">

        <form action="{{url_for('update')}}" method="POST">

          <div class="form-group">

            <label>Nome:</label>
            <input type="hidden" name="id" value="{{dado.id}}">
            <input type="text" class="form-control" name="nome" value="{{dado.nome}}">

          </div>


          <div class="form-group">

            <label>Endereço:</label>
            <input type="text" class="form-control" name="endereco" value="{{dado.endereco}}">

          </div>


          <div class="form-group">

            <label>Telefone:</label>
            <input type="text" class="form-control" name="telefone" value="{{dado.telefone}}">

          </div>


          <div class="form-group">

            <label>Data:</label>
            <input type="text" class="form-control" name="data" value="{{dado.data}}">

          </div>

          <div class="form-group">

            <label>Status:</label>
            <input type="text" class="form-control" name="status" value="{{dado.status}}">

          </div>


          <div class="form-group">

            <button class="btn btn-primary" type="submit">Atualizar</button>

          </div>


        </form>

      </div>


      <div class="modal-footer">

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>

      </div>


    </div>

  </div>

</div>